/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #271300;
  color: #f4f4f4;
  line-height: 1.6;
}

header {
  background-color: #724e2c;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

header h1 {
  color: #f4f4f4;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

header p {
  color: #9c6f44;
  font-size: 1.2em;
}

.login_button1 {
  padding: 5px 10px;
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  background: #f4f4f4;
  color: #563517;
  font-size: 1.2em;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.login_button1:hover {
  background-color: #563517;
  color: #f4f4f4;
}

/* Estilo para o input de nome de usuário */
input[type="text"] {
    width: 75%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #563517;
}

/* Estilo do botão */
.login_button {
    width: 50%;
    padding: 10px 15px;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    background-color: #9c6f44;
    color: #563517;
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
/* Animação ao passar o mouse */
.login_button:hover {
    background-color: #563517;
    color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.highlight {
  background-color: #563517;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.highlight:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.highlight h2 {
  color: #9c6f44;
  margin-bottom: 10px;
}

.highlight p {
  margin-bottom: 15px;
  color: #d4c2aa;
}

.highlight a {
  color: #724e2c;
  text-decoration: none;
  font-weight: bold;
}

.highlight a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #6f4827;
  color: #f4f4f4;
}

footer p {
  font-size: 0.9em;
}